.menu li{
    list-style: none;
    display: inline-block;
    border: solid 5px orange ;
    border-style: inset ;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: coral;
    text-align: center;
    margin: 5px ;
    /* border-color: aqua; */
    /* margin-right: 20px; */
}

.cabecera h1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: burlywood;
    padding:  30px;

}

.menu{
    background-color: burlywood;
    text-align: left;
}

 h1, h2, h3, h4 {
    color :brown;
}

header, section, footer, aside, nav, article{
    display: block;
}

body{
    text-align: center;
    background-color: beige;
}

.formulario {
    width: fit-content;
    border: 1px double black;
    margin: auto;

}

.seccion{
    margin: 20px;
    width: 600px;
    float: left;
}

article{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 25px;
    background-color: bisque;
}

.referencias{
    border: 1px solid brown;   
    width: 200px;
    float: left;
    margin-top: 20px;
    /* margin-left: 20px; */
    background-color: burlywood;
    margin-right: 20px;
    border-style: groove;
    border-width: 5px;
    border-radius: 10px;
}

article footer{
    color: darkgoldenrod;
    text-align: right;
}

.pie{
    clear: both;
}

 article img[alt*="imagen"]{
    width: 200px;
    height: 200px;
}
/* * {
    background-color: beige;
} */

/* 
.menu li :hover{
    border-color: yellow;
  } */